#root {
  width: 100%;
  margin: 20px auto;
  padding: 2rem;
  text-align: center;
  /* display: flex;
  justify-content: center; */
 

}


img {
  max-width: 70%;
}

nav li {
  display: inline;
  /* float: right; */
  /* /* padding: 20px; */
  margin: 20px; 

}

nav {
  padding: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
  /* height: 75px; */
  /* line-height: 75px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
  
}

ul {
  list-style-type: none;
  padding: 0;
 
}

li {
  text-align: left;
}

li::marker {
  font-size: 32px;
}

form {
  display: inline-grid;
}

input {
  padding: 10px;
  margin: 5px;
  
}

button {
  margin: 5px;
}

textarea {
  border-radius: 7px;
}

.profile
{
  width: 200px;
  border-radius: 100%;
}

.navProfile
{
  border-radius: 100%;
  height: 3em;
  position: fixed;
  top: 8px;
  left: 15px;
 
}

.rainbow{
  font-weight: bolder;
  font-size:128px;
  color:transparent;
  background: linear-gradient(270deg,#1e5799,#2ce0bf,#76dd2c,#dba62b,#ff1493,#1e5799);
  animation:rainbow 64s linear infinite;
  background-size: 60% 100%;
  -webkit-background-clip:text;
  text-align: center;
}

@keyframes rainbow
{
  0%{background-position-x:0}
  to{background-position-x:10240px}
}

.secret
{
  color: #1a1a1a;
  /* float: right; */
  margin-right: 20px;
  position: fixed;
  top: 0;
  right: 0;
}

/* .leftMostLi
{
   padding-left: 115px; 
} */

.steps1
{
  display: inline-block;
  max-width: 50%;
}

.step
{
  text-align: left;
  padding: 10px;
}

.ingredients
{
  color: #5C946E;
  font-size: 30px;
  margin-bottom: -20px;
}

.stepsTitle
{
  color: #5C946E;
  font-size: 30px;
  margin-bottom: -20px;
  margin-top: -10px;
}

.stepsBox
{
  display: inline-block
}